commands:
  update_pip:
    command: "/opt/python/run/venv/bin/pip install --upgrade pip"

option_settings:
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
  aws:elasticbeanstalk:container:python:
    WSGIPath: fly_southern/wsgi.py

container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true

  02_collectstatic:
    command: "django-admin.py collectstatic --noinput"
